.button-aa {
    font-family: $primaryFont;
    font-size: 13pt;
    color: #282828;
    padding: 5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #282828;
    text-align: center;
    border-radius: 3px;
    background-color: #f8d717;
    display: block;
    width: 176px;
    box-sizing: border-box;

    &:hover {
        background-color: #282828;
        color: #fff;
        text-decoration: none
    }
}

.button-aax {
    font-family: $primaryFont;
    font-size: 13pt;
    color: #282828;
    padding: 5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #282828;
    text-align: center;
    border-radius: 3px;
    background-color: #f8d717;
    display: block;
    width: 176px;
    box-sizing: border-box;

    &:hover {
        text-decoration: none
    }
}

.button-ab {
    font-family: $primaryFont;
    font-size: 13pt;
    color: #282828;
    padding: 5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #282828;
    text-align: center;
    border-radius: 3px;
    background-color: #f8d717;
    display: block;
    width: 100%;
    box-sizing: border-bo;

    &:hover {
        background-color: #282828;
        color: #fff;
        text-decoration: none
    }
}



/* --------------------------------------------------------------------------------
    BUTTONS
-------------------------------------------------------------------------------- */

.button-01,
.button-02,
.button-03,
.button-04,
.button-05 {
    font-family: $primaryFont;
    padding: 5px 7px 5px 7px;
    margin-bottom: 5px;
    border: 1px solid #444;
    box-shadow: 1px 1px 5px 1px #DBDBDC;
    text-align: center;
    border-radius: 3px;
}

a.button-01,
a.button-02,
a.button-03,
a.button-04,
a.button-05,
a.button-06 {
    text-decoration: none;
}

.button-01 {
    color: #fff;
    background-color: #960808;

    &:hover {
        background-color: #670101;
    }
}

.button-02 {
    color: #fff;
    background-color: #960808;

    &:hover {
        color: #960808;
        background-color: #f8d717;
    }
}

.button-03 {
    color: #960808;
    background-color: #f8d717;

    &:hover {
        color: #fff;
        background-color: #960808;
    }
}

.button-04 {
    color: #fff;
    background-color: #960808;

    &:hover {
        color: #960808;
        background-color: #f8d717;
    }
}

.button-05 {
    color: #fff;
    background-color: #960808;

    &:hover {
        color: #960808;
        background-color: #f8d717;
    }
}

.button-06 {
    font-family: $primaryFont;
    padding: 5px 15px;
    border: 1px solid #444;
    box-shadow: 1px 1px 5px 1px #DBDBDC;
    text-align: center;
    border-radius: 25px;
    background: none;

    &:hover {
        background-color: #670101;
        color: #fff;
    }

    a {
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }
}

.btn-center {
    margin: 30px auto;
    width: 230px;

}



/* --------------------------------------------------------------------------------
    SOCIAL MEDIA SHARE BUTTONS
-------------------------------------------------------------------------------- */

.sharebuttons {
    border-bottom: 1px solid #eee;
    margin: 40px 0 30px 0;
    padding-bottom: 30px;
}

a {
    &.share-btn {
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        border-radius: 3px;
        color: #777;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
        text-shadow: none;
        line-height: 23px;
        padding: 1px 8px;
        margin: 3px;
        transition: 0.2s ease all;

        @media screen and (max-width: $tablet) {
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            border-radius: 3px;
            color: #777;
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
            text-shadow: none;
            line-height: 23px;
            padding: 5px 11px;
            margin: 3px;

            span {
                display: none;
            }

            &:hover span {
                display: inline-block
            }
        }

        &:hover {
            color: #fff;
            background-color: #bdbdbd;
            text-decoration: none;

            @media screen and (max-width: $tablet) {
                color: #777;
                background-color: #f8f8f8
            }
        }
    }
}



/*  ------------------------------------------------------------------------
    Social Media ShareButtons im FOOTER
------------------------------------------------------------------------  */

.social-buttons-footer {
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

.facebook-button-footer,
.instagram-button-footer,
.linkedin-button-footer,
.twitter-button-footer,
.youtube-button-footer,
.xing-button-footer {
    z-index: 1;
    color: #fff;
    font-size: 30px;
    padding: 1%;
    transition: 0.3s ease all;
}

.facebook-button-footer:hover,
.instagram-button-footer:hover,
.linkedin-button-footer:hover,
.twitter-button-footer:hover,
.youtube-button-footer:hover,
.xing-button-footer:hover {
    opacity: 0.8;
}