.socialmedia-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row wrap;
}

.socialmedia {
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 25px;
    transition: 0.2s;
    flex: 0 0 24%;

    @media screen and (max-width: $tablet) {
        flex: 0 0 49%;
    }

    &:hover {
        border: 1px solid #000;
    }

    img {
        height: 90px;
    }

    a {
        text-decoration: none;
        color: #000
    }
}