// Colors

$primaryColor: #000; // #113659 blue
$secondaryColor: darkslategray;


// Paddings

$primaryPadding: 15px;

// Fonts

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Dancing Script', cursive;


// Media Queries

$mobile: 480px;
$tablet: 768px;
$desktop: 1170px;


// Fonts

$skillsAnimationDelay: 5s;